h1 {
    background-color: #DDE0E3;
    padding: 50px;
    /* 
    padding: 50px
    border: 1px solid #5D6063; 
    */
}

p {
    padding: 40px 10px 30px 20px;
    padding: 40px 10px;
    border: 5px solid royalblue;
    margin: 50px;
    margin-bottom: 10px;
    margin: 10px 40px 50px 20px;
    /* 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px 10px;  Vertical  Horizontal
    padding: 20px 0 20px 10px;  Top  Right  Bottom  Left
    */

    /* 
    border: 1px solid #5D6063;
    border-bottom: 1px solid #5D6063;
    */

    /* 
    margin: 50px;  
    margin-bottom: 50px;
    */

    /*
    margin-top: 25px;
    margin-bottom: 50px;
    */
}

em {
    background-color: #B2D6FF;
}

strong {
    background-color: #B2D6FF;

    /* margin: 50px; */

    /* padding: 50px; */
} 