.myBody {
  font-family: "Courier New", Courier, monospace;
}

.myParaFontFamily {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.myParaFontSize {
  font-size: 50px;
}

.myParaFontWeight {
  font-weight: bold;
}
