.myBody {
  direction: ltr;
}

.myParaColor {
  color: red;
}

.myParaLetterSpaceing {
  letter-spacing: 3px;
}

.myParaLineHeight {
  line-height: 25px;
}

.myParaAlignmet {
  text-align: center;
}

.myParaAlignmetFarsi {
  text-align: justify;
}

.myParaTransform {
  text-transform: lowercase;
}

.myParaWordSpacing {
  word-spacing: 50px;
}
