.grid-container {
    background-color: aquamarine;
    padding: 30px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-columns: 80px 200px auto 40px;
/*     
    grid-column-gap: 50px;
    grid-row-gap: 50px; */
    
    grid-gap: 50px;
}
.grid-container div {
    background-color: azure;
}