body {
    background-color: darkgreen;
    color: azure;
}

@media (orientation: landscape) {
    body {
        background-color: darkgreen;
        color: azure;
    }
}

@media (orientation: portrait) {
    body {
        background-color:coral;
        color: black;
    }
}

@media (max-width: 500px) {
    body {
        background-color: aqua;
    }
}

/* table :nth-child(even) {
    background-color: aquamarine;
} */

tr :nth-of-type(even){
    background-color:cornsilk;
    color: black;
}

tr :nth-of-type(odd){
    background-color:rgb(87, 0, 68);
    color: rgb(255, 255, 255);
}