body {
  background-color: blueviolet;
  color: white;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: aqua;
    color: black;
  }
}

@media only screen and (orientation: portrait) {
  body {
    background-color: yellow;
  }
}

@media only screen and (orientation: landscape) {
  body {
    background-color: red;
  }
}
