ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-style: normal;
  word-spacing: 10px;
  padding: 10px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}
